<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if blacksmith %}
<p>Level: {{ blacksmith.level }}</p>
<p>Exp: {{ blacksmith.experience }}</p>
<p>Heating: {{ blacksmith.heating_attribute }}</p>
<p>Holding: {{ blacksmith.holding_attribute }}</p>
<p>Hitting: {{ blacksmith.hitting_attribute }}</p>
<p>Shaping: {{ blacksmith.shaping_attribute }}</p>
{% else %}
<a href="{% url 'create-blacksmith' %}">Utwórz kowala</a>
{% endif %}
</body>
</html>