{% extends 'base.html' %}
{% block content %}
{% if blacksmith %}
<div class="row">
    {% include 'hammer/blacksmith/status_card.html' %}
    <div class="card  col-lg-6">
        <div class="card-header">
            Tasks:
        </div>
        <div class="row">
            {% for task in blacksmith.tasks.all %}
            {% include 'hammer/tasks/card.html' %}
            {% endfor %}


        </div>
    </div>
</div>
{% else %}
<div class="card col-lg-6">
    <a href="{% url 'create-blacksmith' %}" class="btn btn-primary">Utwórz kowala</a>
</div>
{% endif %}

{% endblock %}